In [1]:
import pandas as pd
import csv

# read csv file
worldpop_data_path = "resources/complete_merge.csv"

worldpop_data = pd.read_csv(worldpop_data_path, encoding="latin1")
worldpop_data

,Country,Latitude,Longitude,Country Code,Population (2023),Yearly Change %,Net Change,Land Area (KmÃÂ²),Fertility Rate,Median Age,World Share %,Life Expectency (2021),Mortality Rate (2021)
0,Andorra,42.546245,1.601554,AD,80088.0,0.33,264.0,470.0,1.1,43.0,0.00,NaN,2.6
1,United Arab Emirates,23.424076,53.847818,AE,9516871.0,0.80,75742.0,83600.0,1.4,34.0,0.12,78.710,5.4
2,Afghanistan,33.939110,67.709953,AF,42239854.0,2.70,1111083.0,652860.0,4.4,17.0,0.53,61.982,43.4
3,Antigua and Barbuda,17.060816,-61.796428,AG,94298.0,0.57,535.0,440.0,1.6,36.0,0.00,78.497,5.2
4,Anguilla,18.220554,-63.068615,AI,15899.0,0.26,42.0,90.0,1.3,38.0,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,Yemen,15.552727,48.516388,YE,34449825.0,2.24,753211.0,527970.0,3.6,19.0,0.43,63.753,46.7
241,Mayotte,-12.827500,45.166244,YT,335995.0,3.03,9894.0,375.0,4.3,17.0,0.00,NaN,NaN
242,South Africa,-30.559482,22.937506,ZA,60414495.0,0.87,520610.0,1213090.0,2.3,28.0,0.75,62.341,26.4
243,Zambia,-13.133897,27.849332,ZM,20569737.0,2.76,552062.0,743390.0,4.2,17.0,0.26,61.223,40.2
244,Zimbabwe,-19.015438,29.154857,ZW,16665409.0,2.11,344872.0,386850.0,3.4,18.0,0.21,59.253,35.7

In [7]:
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import Flask, jsonify