In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

# File to Load 
world_population = Path("World Population.xlsx")

world_population_data = pd.read_excel(world_population)

world_population_data

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/Km²)
0,2023,8045311447,0.0088,70206291,30.5,2.31,54
1,2022,7975105156,0.0083,65810005,30.2,2.31,54
2,2021,7909295151,0.0087,68342271,30.0,2.32,53
3,2020,7840952880,0.0098,76001848,29.7,2.35,53
4,2015,7426597537,0.0123,88198886,28.0,2.52,50
5,2010,6985603105,0.0127,85485397,27.0,2.59,47
6,2005,6558176119,0.0130,81855429,26.0,2.62,44
7,2000,6148898975,0.0137,81135904,25.0,2.73,41
8,1995,5743219454,0.0156,85408718,24.0,2.88,39
9,1990,5316175862,0.0180,90889050,23.0,3.31,36
10,1985,4861730613,0.0181,83544581,22.0,3.52,33
11,1980,4444007706,0.0178,74914095,22.0,3.75,30
12,1975,4069437231,0.0195,74809379,21.0,4.08,27
13,1970,3695390336,0.0206,71655671,20.0,4.83,25
14,1965,3337111983,0.0202,63575710,21.0,5.08,22
15,1960,3019233434,0.0191,54632259,21.0,4.70,20
16,1955,2746072141,0.0190,49349997,22.0,5.01,18

In [4]:
# Seperate needed data
clean_wp = world_population_data[['Year  (July 1)', 'Population', 'Yearly %   Change', 'Yearly  Change',
       'Median  Age', 'Fertility  Rate']]

# Change the columns "Yearly Change" & "World Share" to a percentage
clean_wp['Yearly %   Change'] = clean_wp['Yearly %   Change'] * 100

clean_wp

C:\Users\dario\AppData\Local\Temp\ipykernel_16104\3463330341.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_wp['Yearly %   Change'] = clean_wp['Yearly %   Change'] * 100

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate
0,2023,8045311447,0.88,70206291,30.5,2.31
1,2022,7975105156,0.83,65810005,30.2,2.31
2,2021,7909295151,0.87,68342271,30.0,2.32
3,2020,7840952880,0.98,76001848,29.7,2.35
4,2015,7426597537,1.23,88198886,28.0,2.52
5,2010,6985603105,1.27,85485397,27.0,2.59
6,2005,6558176119,1.30,81855429,26.0,2.62
7,2000,6148898975,1.37,81135904,25.0,2.73
8,1995,5743219454,1.56,85408718,24.0,2.88
9,1990,5316175862,1.80,90889050,23.0,3.31
10,1985,4861730613,1.81,83544581,22.0,3.52
11,1980,4444007706,1.78,74914095,22.0,3.75
12,1975,4069437231,1.95,74809379,21.0,4.08
13,1970,3695390336,2.06,71655671,20.0,4.83
14,1965,3337111983,2.02,63575710,21.0,5.08
15,1960,3019233434,1.91,54632259,21.0,4.70
16,1955,2746072141,1.90,49349997,22.0,5.01

In [5]:
# Export the clean_wp into a csv
clean_wp.to_excel("clean_data/World Population.xlsx", index=False)